[Unit]
Description=study-sync
After=clean-lastfile.service

[Service]
ExecStart=/usr/local/bin/study-sync-wrapper.sh
UMask=0000
StandardError=append:/var/log/study-sync.log

[Install]
WantedBy=multi-user.target
